

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Subreddit</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= link_to room.name, room_path(room.id) %></td>
        <td><%= room.category %></td>
        <td>
          <% if policy(room).edit? %>
            <%= link_to "Edit", edit_room_path(room.id), class: "btn btn-primary"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New Subreddit", new_room_path, class: "btn btn-success"  %>
