<button id="upvote">Upvote</button>

<div class="result">0</div>

<button id="downvote">Downvote</button>

</br>
</br>
<button id="reset">Reset</button>

</br>
</br>
</br>
<ul class="log"></ul>

<button id="clear-log">Clear Log</button>
